.footer {
    background: #000;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.6);
}

.footer a {
    color: var(--app-bg-green);
}
.footer a:hover {
    color: var(--app-bg-green-hover);
}

.footer-content {
    padding: 15px;
}
