---
interface Props {
    name: string,
    dataBsToggle?: string,
    dataBsTarget?: string,
}

const { name, dataBsToggle, dataBsTarget } = Astro.props
---

<a class="btn btn-ghost-primary" data-bs-toggle={dataBsToggle} data-bs-target={dataBsTarget}>{name}</a>
