---
//import Toast from './Toast.astro';

---

<div 
    data-toast-type="error"   
    class="toast" 
    role="alert" 
    aria-live="assertive" 
    aria-atomic="true" 
>
    <div class="bg-danger">
        <div class="text-white">
            <div class="d-flex">
                <div class="toast-body d-flex align-items-center gap-2">
                    <div class="fs-4">
                        <i class="bi bi-check2-circle"></i>
                    </div>
                    <strong>
                        <span data-server-message="error">Error Server !</span>
                    </strong>
                </div>

                <button 
                    type="button" 
                    class="btn-close btn-close-white me-2 m-auto"
                    data-bs-dismiss="toast" 
                    aria-label="Close"
                >
                </button>
            </div>
        </div>
    </div>
</div>

<script is:inline>
    document.addEventListener('DOMContentLoaded', function() {
        // Verifica se há um erro no localStorage
        const toastError = localStorage.getItem('toastError');
        
        if (toastError) {
            const textServerError = document.querySelector('[data-server-message="error"]')
            textServerError.innerText = toastError
            // Limpa o erro do localStorage após exibir no console
            localStorage.removeItem('toastError');
        }
    });
</script>
