<div class="home-carousel-holder">
    <div id="home-carousel" class="home-carousel carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner carousel-zoom">
            <div class="carousel-item slide-img-cover active" style="background-image: url(./assets/images/slider/img1.jpg);">
                <div class="d-flex align-items-center justify-content-center min-vh-100">
                    <div class="position-relative text-center pt-3" style="max-width: 250px;">
                        <img class="img-fluid" src="./assets/images/slider/injecao-slider.png" alt="Injeção Programável" />
                        <span class="position-absolute w-100 start-0 top-0">Injeção Programável</span>
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-btn="carousel" data-bs-target="#home-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>

        <button class="carousel-control-next" type="button" data-btn="carousel" data-bs-target="#home-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
</div>

<script is:inline>
    const images = document.querySelectorAll('.carousel-item');
    const btns = document.querySelectorAll('[data-btn="carousel"]');

    btns.forEach((item) => {
        images.length <= 1 ? item.classList.add('d-none') : item.classList.remove('d-none');
    });
</script>
