<div class="home-carousel-holder">
    <div id="home-carousel" class="home-carousel carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner carousel-zoom">
            <div class="carousel-item active">
                <article class="content-slider">
                    <div class="container text-center h-100">
                        <div class="d-flex flex-column justify-content-between h-100 p-3">
                            <div class="box-logo">
                                <img src="/assets/images/logo.png" alt="logo" />
                                <div class="tagline">Ajuste Perfeito para qualquer motor!</div>
                            </div>

                            <div class="box-injecao">
                                <img class="img-fluid" src="./assets/images/slider/injecao-slider.png" alt="Injeção Programável" />
                                <span>Injeção Programável</span>
                            </div>
                        </div>
                    </div>
                </article>

                <img class="img-fit" src="./assets/images/slider/img1.jpg" alt="Slider" />
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-btn="carousel" data-bs-target="#home-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>

        <button class="carousel-control-next" type="button" data-btn="carousel" data-bs-target="#home-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
</div>

<script is:inline>
    const images = document.querySelectorAll('.carousel-item');
    const btns = document.querySelectorAll('[data-btn="carousel"]');

    btns.forEach((item) => {
        images.length <= 1 ? item.classList.add('d-none') : item.classList.remove('d-none');
    });
</script>
