---
import ContentCarousel from './_content-carousel.astro';
---

<section id="home" class="section home-section">
    <ContentCarousel />
    <div class="overlay-mask"></div>

    <div class="container text-center home-content">
        <h1 aria-label="logo" class="logo-home" style="background-image: url(./assets/images/logo.png);"></h1>
        <div class="tagline">Ajuste Perfeito para qualquer motor!</div>
    </div>
</section>
