---
---

<section id="home" class="section home-section">
    <div class="home-carousel-holder">
        <div id="home-carousel" class="home-carousel carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner carousel-zoom">
                <div class="carousel-item slide-img-cover active" style="background-image: url(./assets/images/bg.jpg);">
                    <div class="d-flex align-items-center justify-content-center min-vh-100">

                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#home-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#home-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="overlay-mask"></div>

    <div class="container text-center home-content">
        <h1 class="logo-home" style="background-image: url(./assets/images/logo.png);"></h1>
        <div class="tagline">sua nova injeção e ignição eletrônica programável!</div>
    </div>
</section>