<section id="produtos" class="section section-grey  text-center">
    <h2 class="section-title">Produtos</h2>

    <article class="splide splide-default" id="splide-produtos-index">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide item-box-mask">
                    <h4 class="mb-0">PSA10</h4>
                    <p class="mb-1">Sensor de pressão 10 bar</p>
                    <div class="item-inner shadow text-center bg-white">
                        <a data-bs-toggle="modal" data-bs-target="#modal-PSA10">
                            <img class="img-fluid" src="/assets/images/produtos/PSA10/slider-PSA10.jpg" alt="PSA10">

                            <div class="mask">
                                <div class="mask-inner">
                                    <p class="content-title">PSA10</p>
                                    <p class="content-desc">Sensor de pressão 10 bar</p>

                                    <div class="d-flex gap-2">
                                        <button type="button" class="btn btn-primary btn-cta">Saiba +</button>

                                        <!--
                                        <a class="btn btn-primary btn-cta" href="https://masterfuel.myshopify.com/products/PSA10" target="_blank">
                                            <i class="bi bi-bag-check"></i>
                                            <span class="ms-1">Comprar</span>
                                        </a>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div><!-- splide__track -->
    </article><!-- splide -->

    <div class="mt-4">
        <a class="btn btn-ghost-primary btnShowModal" data-show-modal="modal-prod-all">Veja Todos Produtos</a>
    </div>
</section>

<div id="modal-prod-all" class="modal modal-info modalBig fade" tabindex="-1"
    aria-labelledby="infoModalLabel-prod-todos" aria-hidden="true" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="infoModalLabel-prod-todos">Todos os Produtos</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <section class="section section-grey text-center">
                    <ul class="row justify-content-center list-unstyled m-0">
                        <li class="col-xl-3 col-lg-6 col-md-6 col-sm-12 item-box-mask">
                            <h4 class="mb-0">PSA10</h4>
                            <p class="mb-1" style="min-height: 3rem;">Sensor Pressão 10 bar</p>
                            <div class="item-inner shadow text-center bg-white mb-2">
                                <a class="btnShowModal" data-show-modal="modal-PSA10">
                                    <img class="img-fluid" src="/assets/images/produtos/PSA10/slider-PSA10.jpg"
                                        alt="PSA10">

                                    <div class="mask">
                                        <div class="mask-inner">
                                            <span class="content-title">PSA10</span>
                                            <span class="content-desc">Sensor Pressão 10 bar</span>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="d-flex justify-content-center gap-2">
                                <button type="button" data-show-modal="modal-PSA10"
                                    class="btnShowModal btn btn-primary">Saiba +</button>

                                <!--
                                <a
                                    class="btn btn-primary"
                                    href="https://masterfuel.myshopify.com/products/wbmf"
                                    target="_blank">
                                    <i class="bi bi-bag-check"></i>
                                    <span class="ms-1">Comprar</span>
                                </a>
                                -->
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>

<div id="modal-PSA10" class="modal modal-info modalBig fade" tabindex="-1" aria-labelledby="infoModalLabel-PSA10" aria-hidden="true" aria-modal="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">

				<div class="row">
					<div class="col-lg-5 mb-7 mb-lg-0">
						<section class="section section-grey text-center h-100">
							<article class="splide splide-default" id="splide-prod-PSA10">
								<div class="splide__track">
									<ul class="splide__list">
										<li class="splide__slide item-box-mask">
											<h4>PSA10</h4>
											<div class="item-inner" data-aos="flip-right" data-aos-duration="1000">
												<a class="shadow text-center" data-fancybox="gallery-PSA10" href="/assets/images/produtos/PSA10/big/01.jpg" alt="Sensor Pressão 10 bar">
													<img class="img-fluid" src="/assets/images/produtos/PSA10/mini/01.jpg" alt="Sensor Pressão 10 bar">

													<div class="mask">
														<span class="mask-inner">
															<span class="btn btn-primary">
																<i class="bi bi-zoom-in"></i>
															</span>
														</span>
													</div>
												</a>
											</div>
										</li>

										<li class="splide__slide item-box-mask">
											<h4>PSA10</h4>
											<div class="item-inner" data-aos="flip-right" data-aos-duration="1000">
												<a class="shadow text-center" data-fancybox="gallery-PSA10" href="/assets/images/produtos/PSA10/big/02.jpg" alt="Sensor Pressão 10 bar">
													<img class="img-fluid" src="/assets/images/produtos/PSA10/mini/02.jpg" alt="Sensor Pressão 10 bar">

													<div class="mask">
														<span class="mask-inner">
															<span class="btn btn-primary">
																<i class="bi bi-zoom-in"></i>
															</span>
														</span>
													</div>
												</a>
											</div>
										</li>

										<li class="splide__slide item-box-mask">
											<h4>PSA10</h4>
											<div class="item-inner" data-aos="flip-right" data-aos-duration="1000">
												<a class="shadow text-center" data-fancybox="gallery-PSA10" href="/assets/images/produtos/PSA10/big/03.jpg" alt="Sensor Pressão 10 bar">
													<img class="img-fluid" src="/assets/images/produtos/PSA10/mini/03.jpg" alt="Sensor Pressão 10 bar">

													<div class="mask">
														<span class="mask-inner">
															<span class="btn btn-primary">
																<i class="bi bi-zoom-in"></i>
															</span>
														</span>
													</div>
												</a>
											</div>
										</li>

										<li class="splide__slide item-box-mask">
											<h4>PSA10</h4>
											<div class="item-inner" data-aos="flip-right" data-aos-duration="1000">
												<a class="shadow text-center" data-fancybox="gallery-PSA10" href="/assets/images/produtos/PSA10/big/04.jpg" alt="Sensor Pressão 10 bar">
													<img class="img-fluid" src="/assets/images/produtos/PSA10/mini/04.jpg" alt="Sensor Pressão 10 bar">

													<div class="mask">
														<span class="mask-inner">
															<span class="btn btn-primary">
																<i class="bi bi-zoom-in"></i>
															</span>
														</span>
													</div>
												</a>
											</div>
										</li>
									</ul>
								</div><!-- splide__track -->
							</article><!-- splide -->
						</section>
					</div>

					<div class="col-lg-7 d-flex flex-column">
						<div class="ps-lg-4 flex-grow-1">
							<div class="mb-6">
								<h2>PSA10</h2>

								<h5>Sensor Pressão 10 bar</h5>

                                <p>
                                    <img src="/assets/images/produtos/PSA10/grafico.jpg">
                                </p>

								<hr class="my-3">

								<h5>Características:</h5>

								<ul>
									<li>Sinal de Saída: 1 a 5V</li>
                                    <li>Conexão: 1/8 ”NPT</li>
                                    <li>Faixa de Pressão: 0 a 10bar</li>
                                    <li>Tensão de Alimentação: 12V</li>
                                    <li>Corpo em aço inox e IP67</li>
								</ul>
							</div>
						</div>

                        <hr>

                        <div class="d-flex justify-content-end">
                            <!--
                            <a
                                class="btn btn-primary"
                                href="https://masterfuel.myshopify.com/products/wbmf"
                                target="_blank">
                                <i class="bi bi-bag-check"></i>
                                <span class="ms-1">Comprar</span>
                            </a>
                            -->
                        </div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<script is:inline>
	const btnShowModalAll = document.querySelectorAll('.btnShowModal')

	btnShowModalAll.forEach(btn => {
		btn.addEventListener('click', event => {
			event.preventDefault();
			event.stopPropagation();

			new bootstrap.Modal(document.getElementById(btn.dataset.showModal), {
				keyboard: true
			}).show();
		});
	});

	addEventListener('load', () => {
		new Splide( '#splide-produtos-index', {
			gap    : '1.5rem',

			padding: {
				right: '2rem',
				left : '2rem',
			},

			perPage: 3,
			rewind : true,

			breakpoints: {
				1500: {
					perPage: 3,
				},
				1000: {
					perPage: 2,
				},
				768: {
					perPage: 1,
				},
			}
		}).mount();
	})
</script>

<script is:inline>
	addEventListener('load', () => {
		new Splide( '#splide-prod-PSA10', {
			gap    : '2.5rem',

			padding: {
				right: '2rem',
				left : '2rem',
			},

			perPage: 1,
			rewind : true,

			breakpoints: {
				1500: {
					perPage: 1,
				},
				1000: {
					perPage: 1,
				},
				768: {
					perPage: 1,
				},
			}
		}).mount();
	})
</script>