<section id="contato" class="section contact-section">
    <div class="container">
        <div class="text-center">
            <h2 class="section-title">Contato</h2>
            <div class="section-intro center-block">
                Estamos abertos para esclarecer quaisquer dúvidas e conversar um pouco mais sobre nós.
            </div>

            <div class="card shadow-lg mb-5">
                <div class="card-body text-success">
                    <div class="row mb-2">
                        <article class="col-lg-4 col-md-4 ml-lg-auto">
                            <div class="text-center p-3">
                                <i class="bi bi-geo-alt h4 mb-2"></i>
                                <h6 class="text-dark mb-0">Endereço</h6>
                                <p class="mb-0">
                                    Av. Vereador Abel Ferreira, 2730
                                    <br>
                                    Bairro Chácara Mafalda
                                    <br>
                                    São Paulo / SP • CEP.: 03340-000
                                </p>
                            </div>
                        </article>

                        <article class="col-lg-4 col-md-4 ml-lg-auto">
                            <div class="text-center p-3">
                                <i class="bi bi-envelope h4 mb-2"></i>
                                <h6 class="text-dark mb-0">E-mail</h6>
                                <p class="mb-0">masterfuel@masterfuel.com.br</p>
                            </div>
                        </article>

                        <article class="col-lg-4 col-md-4 ml-lg-auto">
                            <div class="text-center p-3">
                                <i class="bi bi-phone h4 mb-2"></i>
                                <h6 class="text-dark mb-0">Telefone</h6>
                                <p class="mb-0">(11) 9788-72083</p>
                            </div>
                        </article>
                    </div>

                    <hr>

                    <div class="d-flex justify-content-center flex-wrap">
                        <a class="text-success text-center py-3 px-5" href="https://www.instagram.com/Masterfuel.br/" target="_blank">
                            <i class="bi bi-instagram h4 mb-2"></i>
                            <h6 class="text-dark mb-0">Instagram</h6>
                            <p class="mb-0">Masterfuel.br</p>
                        </a>

                        <a class="text-success text-center py-3 px-5" href="https://www.facebook.com/profile.php?id=100088179866696" target="_blank">
                            <i class="bi bi-facebook h4 mb-2"></i>
                            <h6 class="text-dark mb-0">Facebook</h6>
                            <p class="mb-0">Master Fuel</p>
                        </a>

                        <a class="text-success text-center py-3 px-5" href="https://masterfuel.myshopify.com/" target="_blank">
                            <i class="bi bi-bag-check h4 mb-2"></i>
                            <h6 class="text-dark mb-0">Loja Online</h6>
                            <p class="mb-0">Master Fuel</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-block">
            <div class="text-center">
                <h2 class="section-title">Se preferir preencha nosso formulário</h2>
            </div>

            <form method="post" action="https://masterfuel.com.br/index.asp">
                <section class="row">
                    <label class="col-md-6">Nome:
                        <input type="text" name="nome" class="form-control" required="">
                    </label>

                    <label class="col-md-6">E-mail
                        <input type="email" name="email" class="form-control" required="">
                    </label>

                    <label class="col-md-12">O que podemos ajudá-lo?
                        <textarea name="mensagem" rows="5" class="form-control" required=""></textarea>
                    </label>

                    <div class="col-md-12 text-center">
                        <button type="submit" name="action" value="ok" class="btn btn-ghost-primary mt-4" >Enviar mensagem</button>
                    </div>
                </section>
            </form>
        </div><!--//contact-list-->
    </div><!--//containter-->
</section>
