<section id="suporte" class="section text-center">
    <div class="container">
        <h2 class="section-title">Suporte</h2>
        <div class="section-intro ms-auto me-auto">
            <!-- Abaixo você encontra os manuais e diagramas elétricos dos nossos produtos. -->
        </div>

        <div class="members-block">
            <div class="row justify-content-center">

                <!--
                <div class="col-xl-3 col-lg-6 col-md-6 mb-4">
                    <a class="item-box" data-bs-toggle="modal" data-bs-target="#modalSuporteDiagraEletrico-mf3s"
                        href="#">
                        <div class="content-img">
                            <img class="img-fluid"
                                src="https://masterfuel.com.br/assets/app/images/produtos/MF3S/slider-MF3S.jpg" alt="">
                        </div>
                        <div class="content-title">Diagrama Elétrico MF3S</div>
                        <div class="content-desc">
                            Conheça o diagrama elétrico copleto:<br>
                            <ul class="text-start">
                                <li>Cor do Fiação</li>
                                <li>Pinos</li>
                                <li>Ligações</li>
                                <li>Observações</li>
                            </ul>
                        </div>
                    </a>
                </div>
                -->

            </div><!--//row-->
        </div><!--//members-block-->
    </div><!--//container-->
</section>

<style>
    .modal.modal-info {
        --bs-modal-width: 80%;
    }

    .modal.modal-info .modal-content.modal-suporte {
        height: 90vh;
    }

    .modal.modal-info .modal-content .modal-body iframe {
        width: 100%;
        height: 90%;
        margin-bottom: 1rem;
    }
</style>

<!--
<div id="modalSuporteDiagraEletrico-mf3s" class="modal modal-info fade" tabindex="-1"
    aria-labelledby="modalSuporteDiagraEletrico-mf3sLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-suporte">
            <div class="modal-header">
                <h3 class="modal-title" id="modalSuporteDiagraEletrico-mf3sLabel">Diagrama Elétrico MF3S</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <iframe src="https://masterfuel.com.br/assets/app/manuais/Diagrama_eletrico.pdf"></iframe>

                <div class="d-flex justify-content-end">
                    <a class="btn btn-success" href="https://masterfuel.com.br/assets/app/manuais/Diagrama_eletrico.pdf"
                        download="Diagrama_eletrico">
                        <i class="bi bi-download"></i> Download
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
-->