---
import Layout from '@layouts/Layout.astro';
import SectionHome from './section-home/_home.astro';
import SectionProdutos from './section-produtos/_produtos.astro';
import SectionSuporte from './section-suporte/_suporte.astro';
import SectionContato from './section-contato/_contato.astro';
---

<Layout>
	<main class="main-content">
		<SectionHome />
		<SectionProdutos />
		<SectionSuporte />
		<SectionContato />
	</main>
</Layout>
