---
import Layout from '@layouts/Layout.astro';
import SectionHome from './_section-home.astro';
import SectionProdutos from './_section-produtos.astro';
import SectionSuporte from './_section-suporte.astro';
import SectionContato from './_section-contato.astro';
---

<Layout>
	<main class="main-content">
		<SectionHome />
		<SectionProdutos />
		<SectionSuporte />
		<SectionContato />
	</main>
</Layout>
