.btn,
a.btn {
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-decoration: none
}

.btn:hover,
a.btn:hover {
    transition: all 0.4s ease-in-out
}

.btn:focus,
a.btn:focus {
    box-shadow: none
}

a.btn-primary,
.btn-primary {
    background: var(--app-green-400);
    border: 2px solid var(--app-green-400);
    color: #fff;
    text-transform: uppercase;
    box-shadow: inset 0 0 0 0 var(--app-green-600);
}

a.btn-primary:hover,
.btn-primary:hover {
    box-shadow: inset 0 100px 0 0 var(--app-green-600);
}

a.btn-primary:hover,
a.btn-primary:active,
a.btn-primary:focus,
a.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: var(--app-green-600);
    border: 2px solid var(--app-green-600);
    color: #fff;
    outline: none;
    box-shadow: none
}

a.btn-secondary,
.btn-secondary {
    background: #1c1d21;
    border: 2px solid #1c1d21;
    color: #fff;
    text-transform: uppercase;
    box-shadow: inset 0 0 0 0 var(--app-green-400)
}

a.btn-secondary:hover,
.btn-secondary:hover {
    box-shadow: inset 0 100px 0 0 var(--app-green-600)
}

a.btn-secondary:hover,
a.btn-secondary:active,
a.btn-secondary:focus,
a.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus {
    background: var(--app-green-600);
    border: 2px solid var(--app-green-600);
    color: #fff;
    outline: none;
    box-shadow: none
}

a.btn-ghost-primary,
.btn-ghost-primary {
    background: none;
    border: 2px solid var(--app-green-400);
    color: var(--app-green-400);
    box-shadow: inset 0 0 0 0 var(--app-green-400);
    text-transform: uppercase
}

a.btn-ghost-primary:active,
a.btn-ghost-primary:focus,
.btn-ghost-primary:active,
.btn-ghost-primary:focus {
    border: 2px solid var(--app-green-400);
    color: var(--app-green-400);
    outline: none
}

a.btn-ghost-primary:hover,
.btn-ghost-primary:hover {
    box-shadow: inset 0 100px 0 0 var(--app-green-400);
    background: var(--app-green-400);
    color: #fff;
    border: 2px solid var(--app-green-400)
}

a.btn-ghost-secondary,
.btn-ghost-secondary {
    background: none;
    border: 2px solid #101113;
    color: #101113;
    box-shadow: inset 0 0 0 0 #101113;
    text-transform: uppercase
}

a.btn-ghost-secondary:active,
a.btn-ghost-secondary:focus,
.btn-ghost-secondary:active,
.btn-ghost-secondary:focus {
    border: 2px solid #101113;
    outline: none;
    color: #101113
}

a.btn-ghost-secondary:hover,
.btn-ghost-secondary:hover {
    background: #101113;
    box-shadow: inset 0 100px 0 0 #101113;
    color: #fff;
    border: 2px solid #101113
}

a.btn-cta,
.btn-cta {
    font-size: 16px;
    padding: 10px 30px
}
