---
interface Props {
    produto?: string;
    href?: string;
}

const { produto, href } = Astro.props;
---

<!-- 
<a
    class="btn btn-primary" download={`Esquema Elétrico ${produto}`} target="_blank"
    href={href}
>
    <i class="bi bi-download"></i>
    <span>Esquema Elétrico</span>
</a>
-->