/* --------------------------------------------------------------------
* - section
* -------------------------------------------------------------------- */
.section {
    padding: 3rem 0;
}

.section .section-title {
    position: relative;
    margin-top: 0;
    margin-bottom: 2rem;
    padding-bottom: 0.3rem;
    text-transform: uppercase;
    font-weight: 700;
}
.section .section-title:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    display: inline-block;
    height: 4px;
    width: 5em;
    background: var(--app-green-600);
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.section .section-intro {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    max-width: 800px;
    font-size: 1rem;
}
