---
import ContentLinks from "./_content-links.astro";
import ContentForm from "./_content-form.astro";
import SectionTitle from "@components/SectionTitle.astro";
---

<section id="contato" class="section contact-section">
    <div class="container">
        <div class="text-center">
            
            <SectionTitle title="Contato"/>
            <div class="section-intro center-block">
                Estamos abertos para esclarecer quaisquer dúvidas e conversar um pouco mais sobre nós.
            </div>

            <ContentLinks />
        </div>

        <ContentForm />
    </div>
</section>
