---
import BtnGhost from "@components/BtnGhost.astro";
---

<div class="contact-block">
    <div class="text-center">
        <h2 class="section-title">Se preferir preencha nosso formulário</h2>
    </div>

    <form method="post" action="./env-email.php">
        <section class="row mb-4">
            <label class="col-md-6">Nome:
                <input type="text" name="nome" class="form-control" required="">
            </label>

            <label class="col-md-6">E-mail
                <input type="email" name="email" class="form-control" required="">
            </label>

            <label class="col-md-12">O que podemos ajudá-lo?
                <textarea name="mensagem" rows="5" class="form-control" required=""></textarea>
            </label>
        </section>

        <input type="hidden" name="action" value="ok">
        
        <div class="text-center">
            <BtnGhost type="submit" name="Enviar mensagem" />
        </div>
    </form>
</div>
