---
import BtnGhost from "@components/BtnGhost.astro";
import ToastEnv from '@components/Toasts/ToastEnv.astro';
---

<ToastEnv />

<div class="contact-block">
    <div class="text-center">
        <h2 class="section-title">Se preferir preencha nosso formulário</h2>
    </div>

    <form method="post" action="./env-email.asp">
        <section class="row mb-4">
            <label class="col-md-6">Nome:
                <input type="text" name="nome" class="form-control" required="">
            </label>

            <label class="col-md-6">E-mail
                <input type="email" name="email" class="form-control" required="">
            </label>

            <label class="col-md-12">O que podemos ajudá-lo?
                <textarea name="mensagem" rows="5" class="form-control" required=""></textarea>
            </label>
        </section>
        
        <div class="text-center">
            <button 
                type="submit" 
                name="action" 
                value="ok" 
                class="btn btn-ghost-primary"
                data-btn="spinner"
                data-toast-target="env"
            >
                <span>Enviar mensagem</span>       
                <span class="btn-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>  
            </button>
        </div>
    </form>
</div>

<style>
    .btn-spinner-disabled{
        opacity: 0.8!important;
        pointer-events: none!important; 
    }
</style>

<script is:inline>
    const spinnerBtns = document.querySelectorAll('[data-btn="spinner"]')

    for(const btn of spinnerBtns){
        btn.addEventListener('submit', () => {            
            btn.classList.add('btn-spinner-disabled')
            btn.querySelector('.btn-spinner').classList.remove('d-none')
            
            setTimeout(() => {
                btn.classList.remove('btn-spinner-disabled')
                btn.querySelector('.btn-spinner').classList.add('d-none')
            }, 1000)
        })
    }
</script>
