---
import BtnDiagramaEletrico from "@components/BtnDiagramaEletrico.astro";

const imagesTBIVwIDF = [
    {
        imageBig: './assets/images/produtos/TBIVwIDF/big/01.jpg',
        imageMini: './assets/images/produtos/TBIVwIDF/mini/01.jpg',
    },
    {
        imageBig: './assets/images/produtos/TBIVwIDF/big/02.jpg',
        imageMini: './assets/images/produtos/TBIVwIDF/mini/02.jpg',
    },
    {
        imageBig: './assets/images/produtos/TBIVwIDF/big/03.jpg',
        imageMini: './assets/images/produtos/TBIVwIDF/mini/03.jpg',
    },
    {
        imageBig: './assets/images/produtos/TBIVwIDF/big/04.jpg',
        imageMini: './assets/images/produtos/TBIVwIDF/mini/04.jpg',
    },
    {
        imageBig: './assets/images/produtos/TBIVwIDF/big/05.jpg',
        imageMini: './assets/images/produtos/TBIVwIDF/mini/05.jpg',
    },
    {
        imageBig: './assets/images/produtos/TBIVwIDF/big/06.jpg',
        imageMini: './assets/images/produtos/TBIVwIDF/mini/06.jpg',
    },
    {
        imageBig: './assets/images/produtos/TBIVwIDF/big/07.jpg',
        imageMini: './assets/images/produtos/TBIVwIDF/mini/07.jpg',
    },
    {
        imageBig: './assets/images/produtos/TBIVwIDF/big/08.jpg',
        imageMini: './assets/images/produtos/TBIVwIDF/mini/08.jpg',
    },
    {
        imageBig: './assets/images/produtos/TBIVwIDF/big/09.jpg',
        imageMini: './assets/images/produtos/TBIVwIDF/mini/09.jpg',
    },
    {
        imageBig: './assets/images/produtos/TBIVwIDF/big/10.jpg',
        imageMini: './assets/images/produtos/TBIVwIDF/mini/10.jpg',
    },
];
---

<div id="modal-TBIVwIDF" class="modal modal-info modalBig fade" tabindex="-1" aria-labelledby="infoModalLabel-TBIVwIDF" aria-hidden="true" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5 mb-7 mb-lg-0">
                        <section class="section section-grey text-center h-100">
                            <article class="splide splide-default" id="splide-prod-TBIVwIDF">
                                <div class="splide__track">
                                    <ul class="splide__list">
                                        {
                                            imagesTBIVwIDF.map((item) => (
                                                <li class="splide__slide item-box-mask">
                                                    <h4>TBI VW IDF</h4>
                                                    <div class="item-inner" data-aos="flip-right" data-aos-duration="1000">
                                                        <a class="shadow text-center" data-fancybox="TBIIDF" href={item.imageBig}>
                                                            <img class="img-fluid" src={item.imageMini} alt="Sensor Pressão 10 bar" />

                                                            <div class="mask">
                                                                <span class="mask-inner">
                                                                    <span class="btn btn-primary">
                                                                        <i class="bi bi-zoom-in" />
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                            ))
                                        }
                                    </ul>
                                </div><!-- splide__track -->
                            </article><!-- splide -->
                        </section>
                    </div>

                    <div class="col-lg-7 d-flex flex-column">
                        <div class="ps-lg-4 flex-grow-1">
                            <div class="box-infos-product">
                                <h2>TBI VW IDF</h2>

                                <p>Conjunto throttle body para VW a ar.</p>

                                <p>O conjunto de throttle body para VW a ar são feitos em alumínio, com rolamentos nos eixos e vedação por anel o-ring.</p>

                                <p>Temos com os diâmetros das borboletas em 40 e 45 mm e opção com filtro de ar ou cornetas.</p>

                                <h5>O Kit acompanha:</h5>
                                <ul>
                                    <li>Par de corpo em alumínio com diâmetro de 40 ou 45mm</li>
                                    <li>Par de coletores para cabeçote com entrada dupla</li>
                                    <li>Conjunto de vedação com juntas, prisioneiros, porcas e anel o-ring</li>
                                    <li>Acionamento completo com torre e varetas</li>
                                    <li>Opção de filtros de ar ou cornetas</li>
                                </ul>
                            </div>
                        </div>

                        <!-- 
                        <div class="d-flex justify-content-end gap-2">
                            <BtnDiagramaEletrico produto="Kit TBI Dupla VW" href="#" />
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script is:inline>
    addEventListener('load', () => {
        new Splide('#splide-prod-TBIVwIDF', {
            gap: '2.5rem',

            padding: {
                right: '2rem',
                left: '2rem',
            },

            perPage: 1,
            rewind: true,

            breakpoints: {
                1500: {
                    perPage: 1,
                },
                1000: {
                    perPage: 1,
                },
                768: {
                    perPage: 1,
                },
            },
        }).mount();
    });
</script>
