---
const imagesPSA10 = [
    {
        imageBig: './assets/images/produtos/PSA10/big/01.jpg',
        imageMini: './assets/images/produtos/PSA10/mini/01.jpg',
    },
	{
        imageBig: './assets/images/produtos/PSA10/big/02.jpg',
        imageMini: './assets/images/produtos/PSA10/mini/02.jpg',
    },
	{
        imageBig: './assets/images/produtos/PSA10/big/03.jpg',
        imageMini: './assets/images/produtos/PSA10/mini/03.jpg',
    },
	{
        imageBig: './assets/images/produtos/PSA10/big/04.jpg',
        imageMini: './assets/images/produtos/PSA10/mini/04.jpg',
    },
];
---

<div 
	id="modal-PSA10" 
	class="modal modal-info modalBig fade" 
	tabindex="-1" 
	aria-labelledby="infoModalLabel-PSA10" 
	aria-hidden="true" 
	aria-modal="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-lg-5 mb-7 mb-lg-0">
						<section class="section section-grey text-center h-100">
							<article class="splide splide-default" id="splide-prod-PSA10">
								<div class="splide__track">
									<ul class="splide__list">
										{
											imagesPSA10.map(item => (
												<li class="splide__slide item-box-mask">
													<h4>PSA10</h4>
													<div 
														class="item-inner" 
														data-aos="flip-right" 
														data-aos-duration="1000"
													>
														<a 
															class="shadow text-center" 
															data-fancybox="PSA10"
															href={item.imageBig}
														>
															<img 
																class="img-fluid" src={item.imageMini} 
																alt="Sensor Pressão 10 bar" />

															<div class="mask">
																<span class="mask-inner">
																	<span class="btn btn-primary">
																		<i class="bi bi-zoom-in"></i>
																	</span>
																</span>
															</div>
														</a>
													</div>
												</li>
											))
										}
									</ul>
								</div><!-- splide__track -->
							</article><!-- splide -->
						</section>
					</div>

					<div class="col-lg-7 d-flex flex-column">
						<div class="ps-lg-4 flex-grow-1">
							<div class="mb-6">
								<h2>PSA10</h2>
								<h5>Sensor Pressão 10 bar</h5>
                                <p>
                                    <img 
										class="img-fluid" 
										src="./assets/images/produtos/PSA10/grafico.jpg" 
										alt="Sensor Pressão 10 bar" 
										style="max-width: 500px;"
									/>
                                </p>

								<hr class="my-3">

								<h5>Características:</h5>
								<ul>
									<li>Sinal de Saída: 1 a 5V</li>
                                    <li>Conexão: 1/8 ”NPT</li>
                                    <li>Faixa de Pressão: 0 a 10bar</li>
                                    <li>Tensão de Alimentação: 12V</li>
                                    <li>Corpo em aço inox e IP67</li>
								</ul>
							</div>
						</div>

                        <hr>

                        <div class="d-flex justify-content-end">
                            <!--
                            <a
                                class="btn btn-primary"
                                href="https://masterfuel.myshopify.com"
                                target="_blank">
                                <i class="bi bi-bag-check"></i>
                                <span class="ms-1">Comprar</span>
                            </a>
                            -->
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script is:inline>
	addEventListener('load', () => {
		new Splide( '#splide-prod-PSA10', {
			gap    : '2.5rem',

			padding: {
				right: '2rem',
				left : '2rem',
			},

			perPage: 1,
			rewind : true,

			breakpoints: {
				1500: {
					perPage: 1,
				},
				1000: {
					perPage: 1,
				},
				768: {
					perPage: 1,
				},
			}
		}).mount();
	})
</script>