---
import SectionTitle from "@components/SectionTitle.astro";
import ContentSplide from "./_content-splide.astro";
import BtnLinkGhost from "@components/BtnLinkGhost.astro";
import ContentModalAll from "./_content-modal-all.astro";
import ContentModalPSA10 from "./_content-modal-PSA10.astro";
---

<section id="produtos" class="section section-grey  text-center">
	<SectionTitle title="Produtos"/>
	
	<ContentSplide />

    <div class="mt-4">
		<BtnLinkGhost dataBsToggle="modal" dataBsTarget="#modal-prod-all" name="Veja Todos Produtos" />
    </div>
</section>

<ContentModalAll />
<ContentModalPSA10 />
