---
import '@styles/main.css';

import Footer from '@layouts/Footer.astro';
import Head from '@layouts/Head.astro';
import Nav from '@layouts/Nav.astro';
---

<!doctype html>
<html lang="pt-br">
    <Head />

    <body>
        <Nav />
        <slot />
        <Footer />
    </body>
</html>
